.gradient {
  background: rgb(45,21,130);
  background: linear-gradient(150deg, rgba(45,21,130,1) 0%, rgba(25,160,255,1) 100%);
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.liefs{
  position:absolute;
  z-index: -1;
}

.liefs:first-child{
  top:0;
  left:0;
}

.liefs:last-child{
  bottom:0;
  right:0;
}

.item-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 2rem;
}

.aqua {
  color: #00dffc;
}

.white{
  color: white;
}

.btn-white{
  background-color: white;
  text-decoration: none;
}

.btn-white.shadow, .link-btn.shadow{
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%) 
}

.btn-white.shadow:hover{
  
  box-shadow: 0px 5px 10px rgba(247, 248, 250, 0.329);; 
  
  top: -3px;
  
}

.button-wrap{
  position: relative;
  margin-bottom: 3rem;
}

.png{
  height: 77.36px;
}

.separator{
  position: relative;
}

.separator::after {
    position: absolute;
    right: -0.9375rem;
    top: 50%;
    height: 4rem;
    border-left: 1px solid rgba(30,32,34,.2);
    content: "";
    margin-top: -2rem;
    transform: rotate(15deg);
}

.item{
  text-align: center;
  max-width: 370px;
  padding: 0 3rem; 
}

.item-text{
  width: 300px;
}

.text-dark{
  color: black;
  font-weight:600;
}