.todo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.tasksItem{
  display: flex;
  flex-direction: row;
  max-width: 700px;
  justify-content: space-between;
  margin: 7px;
}

.button, .button1{
  background-color: #4e618d;
  border-radius: 0px 5px 5px 0px;
  border: none;
  color: white;
  font-size: medium;
  font-weight: 700;
  height: 40px;
  margin-left: 5px;
}

.formEvents{
  display: flex;
  flex-direction: row;
}

.input-container {
  height: 50px;
  position: relative;
}

.placeholder {
  color: #4e618d;
  left: 5px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: -15px;
  z-index: 3;
}

.input {
  height: 35px;
  border-radius: 5px;
  border: 2px #4e618d solid;
  color: rgb(179, 179, 179);
  margin-left: 5px ;
  z-index: 3;
}

#warning{
  width: 100px;
}

.page{
  margin:60px;
}