.task{
  display: flex;
  flex-direction: row;
  background-color: rgb(241, 241, 241);
  border-radius: 5px 0px 0px 5px;
  justify-content: space-between;
  position: relative;
  width: 95%;
  height: auto;
}


.bar{
  position: absolute;
  z-index: 1;
  border-radius: 5px;
  color: #ffd5d5;
}

.event, .time {
  z-index: 2;
  margin: 5px 10px;
  padding: 0;
}

.event {
  max-width: 300px;
} 

@media(max-width: 600px){
  .task{
    flex-direction: column;
  }
  .event {
    max-width: 100px;
  }
}