.section-title{
  margin-bottom: 4rem;
}

.icons{
  margin-bottom: 1.2rem;
  width: 72px;
}

.wrapper{
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 0;
  justify-content: space-between;
}

.list-unstyled{
  max-width: 50%;
}

.space-2{
  padding: 4rem 0;
}

.list-border{
  display: flex;
  flex-direction: row;
  max-width: 504px;
  border: 1px solid #e7eaf3;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;

}

.list-text{
  max-width: 440px;
  font-size: 16px;
  text-align: start;
  margin: 0;
}

.list-num{
  font-size: 56px;
  color: #377dff;
  margin-right: 1rem;
}

.chain{
  position: relative;
    padding-left: 2.5rem;
    padding-bottom: 2rem;
}

.chain::before{
  position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: -0.25rem;
    width: 2rem;
    height: 0.0625rem;
    border-top: 1px solid #e7eaf3;
    margin: auto auto auto 0;
    content: "";
}

.chain:first-child::after {
  height: 50%;
  top: auto;
}

.chain::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: -0.3125rem;
  width: 0.0625rem;
  height: 100%;
  border-right: 1px solid #e7eaf3;
  margin: auto auto auto 0;
  content: "";
}

.chain:last-child::after {
  height: 50%;
  bottom: auto;
}

@media(max-width: 991px){
  .wrapper{
    flex-direction: column;
  }
  .list-unstyled{
    min-width: 100%;
  }

  .list-border{
    min-width: 95%;
  }

  .list-text{
    min-width: 80%;
  }
}