.mini-icon{
  width: 72px;
}

.cards{
  display: flex;
  flex-direction: column;
  width: 450px;
  text-align: center;
  align-items: center;
  padding: 64px 16px;
  margin: 1rem;
  border: 1px solid #e7eaf3;
  border-radius: 0.3125rem;
}

.link-btn {
  text-decoration: none;
  border-radius: 10px;
  max-width: 15rem;
}

.section {
  margin-top: 1rem;
  padding: 2rem 0;
  border-bottom: 1px solid #e7eaf3;
  text-align: center;
}

h2{
  font-size: 32px;
  margin-bottom: 0.5rem
}

h4{
  font-size: 24px;
}

@media(max-width: 767px) {
  .cards{
    width: 95%;
    margin: 1rem auto;

  }
  
}

@media(max-width: 480px){
  .link-btn{
    min-width: 95%;
  }
}